body {
    display: flex;
    min-height:100vh;
    flex-direction: column;
    background-color: #666363;
    color: white;
}

nav {
    background-color: #515151;
}

main {
    flex: 1 0 auto;
}

#profileCard{
    margin-right: 10vh;
}

.positioner{
    width: 60%;
    height: 55%;
    position: absolute;
    left: 0;
    top: 0;
}

#editIcon{
    font-size: 1rem;
    line-height: 30px;
    display: block;
}

#avatarEdit{
    width: 30px;
    height: 30px;
}

.icon{
    position: absolute;
    right: -20px;
    bottom: -20px;
}

#cardAvatar{
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#cardUsername{
    vertical-align: bottom;
    text-align: center;
    display: block;
}

#foot{
    background-color: #515151;
}

#logs{
    min-height: 10vh;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

#chat-messages {
    min-height: 10vh;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

.card{
    background-color: #666363;
}